<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Creative Commons</title></%block>

<section class="static-container tos">
  <h1>Creative Commons</h1>

  <p><strong>
	  The material in ufo-host.cise.ufl.edu is a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CCBYNCSA collection</a>; all original or remixed
	content is by default CCBYNCSA. In rare cases, fair-use for noncommercial
	educational purposes may be employed, but stated as such. If a course
	includes CCBYND content that content is clearly labeled as CCBYND and 
	the course is clearly labeled as a collection. If you are unsure about the
	NCSA restriction for specific material, follow the BY attribution to 
	the original source to check.
  </strong></p>

  <br><br><br><br>

  <h1>Difference between Open Access Copyright and CCBYNCSA Licence </h1>
	<p id="oa"><strong>Open Access Copyright</strong></p>
	Open access copyrighted materials has to be cited or explicitly linked unless for limited fair use.

	<p id="cc"><strong>Creative Commons Attribution-NonCommercial-ShareAlike </strong></p>
	CCBYNCSA licensed materials allow users to copy and redistribute the material in any medium or format, as well as  remix, transform, and build upon the material, as long as they give attribution. 
  

</section>
