<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>Creative Commons</title></%block>

<section class="static-container tos">
  <h1>Creative Commons</h1>

  <p><strong>
	  The material in ufo-host.cise.ufl.edu is a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CCBYNCSA collection</a>; all original or remixed
	content is by default CCBYNCSA. In rare cases, fair-use for noncommercial
	educational purposes may be employed, but stated as such. If a course
	includes CCBYND content that content is clearly labeled as CCBYND and 
	the course is clearly labeled as a collection. If you are unsure about the
	NCSA restriction for specific material, follow the BY attribution to 
	the original source to check.
  </strong></p>

</section>
