<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>FAQ</title></%block>

<section class="static-container tos">
<article>
  <h2>FAQ</h2>

  <p id="faq"><strong>For registering your account as instructor role:</strong></p>
  <p> Send an email to: ufohost DOT edx AT gmail DOT com </p>

  <br><br>
  <hr>

  <h2>Contact</h2>

  <p id="contact"> ufohost DOT edx AT gmail DOT com </p>

</article>
  

</section>
