<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>FAQ</title></%block>

<section class="static-container tos">
<article>
  <h1>FAQ</h1>

  <p id="faq"><strong>For registering your account as instructor role:</strong></p>
  <p> Send an email to the webmaster at: ufohost DOT edx AT gmail DOT com </p>

  <hr>

  <h1>Contact</h1>

  <p id="contact"> ufohost DOT edx AT gmail DOT com </p>

</article>
  

</section>
